*.a
*.o
Makefile
config.log
config.status
ddd.spec
ddd/.deps/
ddd/.gdbinit
ddd/Ddd
ddd/Ddd.ad.h
ddd/Makefile
ddd/OldMakefile
ddd/USERINFO.txt
ddd/bld.h
ddd/build.h
ddd/cfg.texi
ddd/config.h
ddd/configinfo.C
ddd/ctest
ddd/cxxtest
ddd/ddd
ddd/ddd.1
ddd/ddd.man
ddd/host.h
ddd/root.h
ddd/stamp-h
ddd/stamp-h1
ddd/stringify
ddd/userinfo
ddd/version.h
ddd/vr.h
ddd/vsl
libtool
termcap/Makefile
termcap/config.status
themes/Makefile
vsllib/Makefile
